{% extends "base.html" %}
{% block title %}Login Page{% endblock%}
{% block content%}
<form method="POST">
    <h1 align="center">Please log in</h1>
    <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
    </div>
</br>
        <div align="center">
            <button class="btn btn-primary" type="submit">Logn in</button>
        </div>
    </div>
</form>
{% endblock %}